<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text-Paste</title>
    <!-- bootstrap css -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <!-- filesaver script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script> <!-- for saving file -->

    <!-- password prompt -->
    <script type="text/javascript">
        var s = "";
        while (s != "<%= password %>") {
            s = prompt("please enter the password");
            if (s == "<%= password %>") {
                break;
            }
            else {
                alert("Incorrect password-Try again");
            }
        }
    </script>

    <!-- prismjs stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/themes/prism.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/plugins/line-numbers/prism-line-numbers.min.css" rel="stylesheet" />
    <!-- custom css -->
    <link href="../paste.css" rel="stylesheet">
    <link rel="icon" href="../icon.png" type="image/icon type">

</head>

<body>
    <!-- include header ejs -->
    <%- include('header.ejs') %>
    
    <div class="title-urlCopyButton-views">
        <!-- copy url button -->
        <button class="btn btn-outline-success btn-sm copy-url-button" onclick="copyURLToClipboard()"><strong>Copy URL</strong></button>
        <!-- title -->
        <% if (title == "Untitled") { %>
            <h2 class="untitled"><%= title %></h2> 
        <% } else { %>
            <h2><%= title %></h2>
        <% } %>
        <!-- views -->
        <div class="views">
            <span class="views-label">views 👀 : </span>
            <span class="views-number"><%= views %></span>
        </div>
        <script>
            function copyURLToClipboard(){
                const url = window.location.href;
                navigator.clipboard.writeText(url);
                alert("url copied: " + url);
            }
        </script>
    </div>
    <div class="paste-info">
        Pasted by <h4 class="author-name"><%= author %></h4> at <div class="create-time"><%= createdAt %></div>
    </div>
    <div class="copy-btn-and-font-size-selector">
        <!-- select font size -->
        <label class="font-size-selector-label" for="font-size-selector"><strong>Font Size</strong></label>
        <select class="form-select font-size-selector" onchange="updateFontSize()">
            <!-- size from 1 to 100, 11 is default -->
            <% for( let i = 1; i <= 100; i++ ) { %>
                <% if (i == 11) { %>
                    <option value="<%= i %>" selected><%= i %></option>
                <% } else { %>
                    <option value="<%= i %>"><%= i %></option>
                <% } %> 
            <% } %>
        </select>
        <!-- download button -->
        <button class="btn btn-outline-success btn-sm download-button" onclick="downloadContent()"><strong>Download</strong></button>
        <!-- copy text button -->
        <button class="btn btn-outline-success btn-sm copy-button" onclick="copyTextToClipboard()"><strong>Copy Text</strong></button>
    </div>
    <!-- code block -->
    <pre class="line-numbers" style="font-size:11pt;">
<code class="language-<%=text_type%>"><%= text %></code>
    </pre>
    <script>
        function copyTextToClipboard(){
            var copyText = `<%- text %>`;
            navigator.clipboard.writeText(copyText);
            alert("Copied the text!");
        }
        function updateFontSize(){
            var fontSize = document.querySelector(".font-size-selector").value;
            document.querySelector("pre").style.fontSize = fontSize + "pt";
        }
        function downloadContent(){
            var text = `<%- text %>`;
            var blob = new Blob([text], {type: "text/plain;charset=utf-8"});
            saveAs(blob, "<%= title %>.<%= text_type %>");
        }
    </script>

    <!-- include footer ejs -->
    <%- include('footer.ejs') %>

    <!-- prismjs scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/prism.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/plugins/autoloader/prism-autoloader.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.28.0/plugins/line-numbers/prism-line-numbers.min.js"></script>
</body>

</html>